.course__container {
  flex: 1;
  padding: 90px 10%;
}

.course__buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  & button {
    padding: 12px 24px;
    background: white;
    border: none;
    border-radius: 12px;
    font-size: var(--p-font-size);
    font-weight: bold;
    cursor: pointer;
    color: rgb(0, 0, 0, 0.5);
    transition: filter 0.25s ease;
    box-shadow: 0 1px 3px 0 rgb(0, 0, 0, 0.1), 0 1px 2px -1px rgb(0, 0, 0, 0.1);
  }

  & button:hover {
    filter: brightness(0.9);
  }

  & .active {
    background: var(--p-500);
    color: var(--p-50);
  }
}

.course__list {
  display: flex;
  flex-direction: column;
  gap: 25px;

  & .course__item {
    display: flex;
    background: white;
    border-radius: 14px;
    gap: 20px;
    box-shadow: 0 1px 3px 0 rgb(0, 0, 0, 0.1), 0 1px 2px -1px rgb(0, 0, 0, 0.1);

    & img {
      width: 33vh;
      height: 18vh;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  & .course__info {
    flex: 1;
    padding-right: 20px;
    margin: 13px 0;

    & h3 {
      font-size: var(--h6-font-size);
      font-weight: bold;
      color: var(--p-600);
    }

    & p {
      font-size: var(---font-size);
      color: var(--p-900);
    }

    & .course__tags {
      display: flex;
      gap: 30px;
      font-weight: bold;
      color: var(--p-500);
      font-size: var(--caption-font-size);
    }
  }
}