.favorite__container {
  flex: 1;
  padding: 90px 10%;
}

.favorite__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.favorite__buttons {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  & button {
    padding: 12px 24px;
    background: white;
    border: none;
    border-radius: 12px;
    font-size: var(--p-font-size);
    font-weight: bold;
    cursor: pointer;
    color: rgb(0, 0, 0, 0.5);
    box-shadow: 0 1px 3px 0 rgb(0, 0, 0, 0.1), 0 1px 2px -1px rgb(0, 0, 0, 0.1);
  }
  & .active {
    background: var(--p-500);
    color: var(--p-50);
  }
}

.food-card {
  width: 250px;
  background: white;
  border-radius: 15px;
  padding: 10px 10px 10px;
  margin-bottom: 30px;
  box-shadow: 0 1px 3px 0 rgb(0, 0, 0, 0.1), 0 1px 2px -1px rgb(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;

  & .food-image {
    position: relative;

    &.food-image img {
      width: 100%;
      height: 220px;
      object-fit: cover;
      border-radius: 12px;
    }

    & .badge {
      position: absolute;
      right: 10px;
      bottom: 10px;
      background: #4caf50;
      color: white;
      padding: 7px 12px 5px 12px;
      border-radius: 7px;
      font-size: var(--caption-font-size);
    }
  }

  & .food-title {
    text-align: center;
    color: var(--p-600);
    margin: 15px 0 8px;
    font-size: var(--h6-font-size);
    font-weight: bold;
  }

  & .food-desc {
    color: var(--p-900);
    line-height: 1.6;
    font-size: var(--caption-font-size);
    padding: 0 10px;
  }

  & .food-tags {
    display: flex;
    gap: 15px;
    padding: 10px;
    font-weight: bold;
    color: var(--p-500);
    font-size: var(--caption-font-size);
  }

  & .food-actions {
    display: flex;
    justify-content: flex-end;
  }

  & .heart {
    font-size: 24px;
    cursor: pointer;
    color: red;
  }
}