footer{
    background-color: var(--p-600);
    margin-top: 20px !important;
}

.footer__container{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding-top: 30px;

    & .footer__content{
        width: 33.3%;
    }

    & h3{
        font-size: var(--h3-font-size);
        color: var(--n-300);
        margin-bottom: 20px;
        text-align: center;
    }

    & .footer__content .list{
        display: flex;
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    & .footer__content p{
        text-align: center;
        padding: 7px;
        font-size: var(--p-font-size);
        color: var(--n-300);
    }

    & .list li a{
        color: var(--n-300);
    }

    & .icon{
        display: flex;
        justify-content: center;
        gap: 30px;
    }

    & i{
        color: var(--n-300);
        transform: scale(1.3);
    }

    & li{
    transition: all 0.25s ease;
    }

    & li:hover{
    transform: scale(1.3);
    color: white;
}

}
