.blog__main{
    display: flex;
    /* justify-content: space-between; */
    padding: 0px 5%;
    /* background-color: var(--p-50); */
}

.followers__aside{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 20%;
    position: fixed;

    & h2{
        font-size: var(--h4-font-size);
        color: var(--p-600);
        margin-left: 10px;
    }

    & ul{
        display: flex;
        flex-direction: column;
        /* gap: 15px; */
    }

    & ul:last-child{
        padding-bottom: 5px;
        border-bottom: 1px solid var(--p-600);
    }

    & ul li a{
        display: flex;
        gap: 10px;
        align-items: center;
        margin: 5px 0px;
        border-radius: 10px;
        transition: all 0.25s ease;

        & p{
            font-size: var(--p-font-size);
            color: black;
            font-weight: 400;
        }
    }

    & ul li a:hover{
        background-color: var(--p-100);
    }

}

.blog__section{
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* align-items: center; */
    width: 550px;   
    margin: 0px 30%;
}

.your__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 100%; */
    padding: 10px 10px;
    border-radius: 15px;
    box-shadow: 0px 4px 6px -1px rgb(0,0,0,0.1),
    0 2px 4px -2px rgb(0,0,0,0.1);
    gap: 10px;
    background-color: var(--p-50);

    & a{
        flex: 1;
        padding: 10px 20px;
        background-color: white;
        color: var(--p-600);
        border-radius: 15px;
        margin-right: 10px;
        transition: all 0.25s ease;
    }

    & a:hover{
        background-color: var(--p-100);
    }
}

.avatar-post{
    width: 50px;
    border-radius: 50%;
}

.post__container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;  
    

    & .post-content__container{
         padding: 10px auto;
        display: flex;
        flex-direction: column;
         border-radius: 15px;
          box-shadow: 0px 4px 6px -1px rgb(0,0,0,0.1),
         0 2px 4px -2px rgb(0,0,0,0.1);
         /* gap: 10px; */
         background-color: var(--p-50);

        & .owner__container{
            padding: 10px 10px;
            display: flex;
            gap: 10px;

            & .name-time{
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 7px;
                width: 300px;

                & h6{
                    font-size: var(--p-font-size);
                    font-weight: 500;
                    color: var(--p-800);
                }

                & p{
                    font-size: var(--caption-font-size);
                    color: var(--p-700);
                }
            }
        }

        & .caption{
            font-size: var(--p-font-size);
            margin: 0px 10px;
        }

        & .post-img{
            margin: 10px 0px;
            height: 500px;
            object-fit: cover;
        }

        & .reaction{
            display: flex;
            gap: 7px;
            justify-content: flex-end;
            margin-right: 20px;
            margin-bottom: 10px;
            align-items: center;

            & .reacts{
                /* text-align: center; */
                /* margin-right: 20px; */
                color: var(--p-600);
                font-size: var(--caption-font-size);
                padding-top: 9px;
                font-weight: 500;
            }

            & .love{
                & .card__favorite {
                    /* position: absolute; */
                    /* bottom: 10px;
                    right: 10px; */
                    font-size: var(--h3-font-size);
                    cursor: pointer;
                    /* user-select: none; */
                }


                & .favorite-input {
                    display: none;
                }

                /* Trái tim rỗng */
                & .card__favorite::before {
                    content: "♡";
                    color: var(--p-500);
                }

                /* Khi checkbox được check → đổi thành tim đỏ */
                & .favorite-input:checked + .card__favorite::before {
                    content: "❤";
                    color: red;
                }
            }   
        }
    }
}