.login__container-content {
  display: flex;
  min-height: 85vh;
  background-color: var(--p-50);

  & .login__container-left {
    width: 50%;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  & .login__container-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .login__form {
      width: 400px;
      text-align: center;
      background-color: white;
      padding: 20px;
      border-radius: 10px;

      & h1 {
        font-size: var(--h5-font-size);
        margin-bottom: 30px;
        font-weight: bold;
        color: var(--p-800);
      }

      & input {
        width: 100%;
        padding: 14px;
        margin: 8px 0;
        font-size: var(--p-font-size);
        border: 1px solid #ccc;
        border-radius: 6px;
      }

      & .login__forgot {
        width: 100%;
        text-align: right;
        margin-bottom: 20px;
        margin-top: 8px;

        & a {
          font-size: var(--caption-font-size);
          color: #555;
          text-decoration: none;
        }
      }

      & .login__btn {
        width: 100%;
        padding: 14px;
        background: var(--p-500);
        color: white;
        border: none;
        border-radius: 6px;
        margin-top: 10px;
        cursor: pointer;
        font-size: var(--p-font-size);
        font-weight: bold;
        transition: filter 0.25s ease;
      }

      & .login__btn:hover {
        filter: brightness(0.85);
      }

      & .login__signup {
        margin-top: 20px;
        color: #555;
        font-size: var(--p-font-size);

        & a {
          text-decoration: none;
          color: var(--p-600);
          font-weight: bold;
        }
      }
    }
  }
}