@import url(theme.css);
@import url(MainForm/section.css);
@import url(MainForm/header.css);
@import url(MainForm/footer.css);
@import url(Recipe.css);
@import url(Blog.css);
@import url(Profile.css);
@import url(login.css);
@import url(signup.css);

* {
    box-sizing: border-box;
}

:root{
    font-size: var(--p-font-size);
    line-height: var(--p-line-height);
    letter-spacing: var(--p-letter-spacing);
    font-family: 'Segoe UI', sans-serif;
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
}

.container{
    margin: 0 auto;
    max-width: 1536px;
    padding: 0 2rem;
}

section, .account__container{
    padding-top: 20px !important;
}

aside{
    padding-top: 90px;
}
