.profile__main{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.owner__section{
    /* margin-top: 0px; */
    padding-top: 50px;
    display: flex;
    width: 100%;
    gap: 40px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 6px -1px rgb(0,0,0,0.1),
         0 2px 4px -2px rgb(0,0,0,0.1);

    & .profile__avatar{
        transform: scale(0.9);
    }

    & .profile__name{
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-top: 20px;
        width: 40%;

        & h2{
            font-size: var(--h3-font-size);
            font-weight: 700;
            color: var(--p-600);
        }

        & .role-fl{
            display: flex;
            gap: 10px;
            align-items: center;
            /* margin-left: 10px; */

            & h6{
                padding: 4px 6px 6px 6px;
                background-color: var(--p-50);
                font-size: var(--p-font-size);
                font-weight: 500;
                color: var(--p-600);
                border-radius: 7px;
                border: 1px solid var(--p-400);
            }

            & p{
                font-size: var(--caption-font-size);
                /* padding-top: 5px; */

                & span{
                    font-size: var(--p-font-size);
                    font-weight: 500;
                }
                
            }
        }

        & .profile__desc{
            font-size: var(--caption-font-size);
            overflow-wrap: break-word;
            /* font-weight: 300; */
            margin-top: 10px;
        }

        & .fl__button{
            padding: 10px 0px;
            border: none;
            border-radius: 10px;
            background-color: var(--p-400);
            font-size: var(--p-font-size);
            color: var(--n-50);
            font-weight: 600;
            cursor: pointer;
        }
    }
}

.information__section{
    display: flex;
    padding: 20px 20% 20px 5%;
    justify-content: space-between;
    gap: 10%;
    margin: 0px 5%;

    & .course__aside{
        display: flex;
        flex-direction: column;
        gap: 20px;    

        & h2{
            font-size: var(--h4-font-size);
            color: var(--p-600);
            font-weight: 500;
        }

        & .course__content--container{
            position: relative;
            overflow: hidden;

            & img{
                width: 300px;
                height: 150px;
                object-fit: cover;
                 transition: all 0.2s ease ;
                border-radius: 10px;
                box-shadow: 0px 4px 6px -1px rgb(0,0,0,0.1),
                 0 2px 4px -2px rgb(0,0,0,0.1);

            }

            & p{
                position: absolute;
                left: 10px;
                font-size: var(--p-font-size);
                color: var(--n-50);
                font-weight: 500;
                 transition: all 0.2s ease ;
            }
        }

        & .course__content--container:hover p{
            transform: translateY(-30px);
        }
         & .course__content--container:hover img{
            filter: brightness(50%);
         }

         & .course__content--container:last-child{
            padding-bottom: 20px;
            border-bottom: 2px solid var(--p-600);
         }
    }


}