.recipe__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px

}

.recipe__title{
    text-align: center;
    font-size: var(--h1-font-size);
    color: var(--p-700);
    /* margin-bottom: 40px; */

}   

.recipe__img img{
    height: 500px;
    width: 100%;
    object-fit: cover;
}


.recipe__content{
    display: flex;
    margin: auto 50px;
    gap: 50px;
    justify-content: space-between;
}

.ingredient__content{
    margin-left: 100px;

    & .ingredient__title{
        font-size: var(--h3-font-size);
        margin-bottom: 20px;
        color: var(--p-600);
    }

    & ul{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 35px;
        list-style-type: disc;
        font-weight: 400;
        color: var(--n-600);
    }
}

.instruction__content{
    margin-right: 250px;

    & .instruction__title{
        font-size: var(--h3-font-size);
        margin-bottom: 20px;
        color: var(--p-600);
    }

    & .serve{
        font-size: var(--p-font-size);
        margin-bottom: 20px;
        font-weight: 400;
    }

    & ol{
        display: flex;
        flex-direction: column;
        gap: 20px;
        list-style-type: decimal;
        padding-left: 20px;
        font-weight: 600;
        font-size: var(--h6-font-size);
        color: var(--p-600);

        & .step{
            font-size: var(--h6-font-size);
            font-weight: 400;
            color: var(--p-600);
        }

        & ul{
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-weight: 400;
            line-height: var(--p-line-height);
            margin-top: 10px;
            margin-left: 20px;
            list-style-type: disc;
            font-size: var(--p-font-size);
            color: var(--n-600);
        }
    }




}

.recipe__tip{
    margin: auto 50px;

    & h2{
        font-size: var(--h3-font-size);
        color: var(--p-600);
        margin-left: 100px;
        margin-bottom: 20px;
    }

    & p{
        margin-left: 100px;
        font-size: var(--p-font-size);
        line-height: var(--p-line-height);
        color: var(--n-600);
    }
}

.recipe__video{
    margin: auto 50px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    & h2{
        align-self: flex-start;
        font-size: var(--h3-font-size);
        color: var(--p-600);
        margin-left: 100px;
        margin-bottom: 10px;
    }

    & a{
        margin-left: 100px;
        font-size: var(--p-font-size);
        line-height: var(--p-line-height);
    }
    & video{
       width: 700px;
       height: auto;
    }
}

.fav-checkbox{
    position: sticky;
    bottom: 5px;

    & a{
        
    }

    & .card__favorite {
        position: absolute;
        bottom: 10px;
        right: 10px;
        font-size: var(--h1-font-size);
        cursor: pointer;
        /* user-select: none; */
    }


    & .favorite-input {
        display: none;
    }


    /* Trái tim rỗng */
    & .card__favorite::before {
        content: "♡";
        color: var(--p-500);
    }

    /* Khi checkbox được check → đổi thành tim đỏ */
    & .favorite-input:checked + .card__favorite::before {
        content: "❤";
        color: red;
    }

}
