& .signup__container-right {
  width: 50%;
  padding: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  & .signup__form {
    width: 400px;
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;

    & h1 {
      font-size: var(--h5-font-size);
      margin-bottom: 30px;
      font-weight: bold;
      color: var(--p-800);
    }

    & input {
      width: 100%;
      padding: 14px;
      margin: 8px 0;
      font-size: var(--p-font-size);
      border: 1px solid #ccc;
      border-radius: 6px;
    }

    & .signup_row {
      padding-bottom: 20px;
      text-align: left;

      & p {
        font-size: var(--caption-font-size);
        font-weight: bold;
        color: #555;
      }

      & .date {
        font-family: "Roboto", sans-serif;
      }

      & select {
        width: 100%;
        padding: 14px;
        margin: 8px 0;
        font-size: var(--p-font-size);
        border: 1px solid #ccc;
        border-radius: 6px;
        appearance: none;
      }
    }

    & .signup__btn {
      width: 100%;
      padding: 14px;
      background: var(--p-500);
      color: white;
      border: none;
      border-radius: 6px;
      margin-bottom: 10px;
      cursor: pointer;
      font-size: var(--p-font-size);
      font-weight: bold;
      transition: filter 0.25s ease;
    }

    & .signup__btn:hover {
      filter: brightness(0.85);
    }

    & .dieukhoan {
      font-size: var(--caption-font-size);
      color: #555;
      padding-top: 30px;
    }

    & .login__signup {
      margin-top: 20px;
      color: #555;
      font-size: var(--p-font-size);

      & a {
        text-decoration: none;
        color: var(--p-600);
        font-weight: bold;
      }
    }
  }
}